@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: hsl(30, 38%, 92%); /* Cream */
  --color-foreground: hsl(212, 21%, 14%); /* Black */
  --color-foreground-dimmed: hsl(228, 12%, 48%); /* Gray */

  --color-primary: hsl(158, 36%, 37%); /* Green 500 (lighter) */
  --color-primary-accent: hsl(158, 42%, 18%); /* Green 700 (darker) */
  --color-primary-foreground: hsl(0, 0%, 100%); /* White */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.attribution {
  @apply font-[11px] text-center;
}

.attribution a { 
  color: hsl(228, 45%, 44%);
}